* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10202_1977 {
  width: 375px;
  height: 8919px;
  background: url("../images/v10202_1977.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2324 {
  width: 375px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2325 {
  width: 375px;
  height: 72px;
  background: url("../images/v10202_2325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2326 {
  width: 84px;
  height: 36px;
  background: url("../images/v10202_2326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_2328 {
  width: 48px;
  height: 48px;
  background: url("../images/v10202_2328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 315px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_2540 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.v10202_2541 {
  width: 800px;
  height: 1732px;
  background: url("../images/v10202_2541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 71px;
  opacity: 1;
  position: absolute;
  top: 461px;
  left: 212px;
  overflow: hidden;
}
.v10202_2542 {
  width: 800px;
  height: 1732px;
  background: url("../images/v10202_2542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 71px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2543 {
  width: 800px;
  height: 530px;
  background: url("../images/v10202_2543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2544 {
  width: 800px;
  height: 530px;
  background: url("../images/v10202_2544.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 0px;
  overflow: hidden;
}
.v10202_2545 {
  width: 800px;
  height: 530px;
  background: url("../images/v10202_2545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1202px;
  left: 0px;
  overflow: hidden;
}
.v10202_2546 {
  width: 100%;
  height: 4000px;
  background: rgba(0,0,0,0.4000000059604645);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2547 {
  width: 335px;
  height: 332px;
  background: url("../images/v10202_2547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 20px;
  overflow: hidden;
}
.v10202_2548 {
  width: 335px;
  height: 332px;
  background: rgba(255,255,255,1);
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2549 {
  width: 335px;
  height: 260px;
  background: url("../images/v10202_2549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2550 {
  width: 335px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v10202_2551 {
  width: 335px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 164px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_2552 {
  width: 280px;
  height: 48px;
  background: url("../images/v10202_2552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 28px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v10202_2654 {
  width: 375px;
  height: 1169px;
  background: rgba(255,255,255,1);
  padding: 64px 20px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 884px;
  left: 0px;
  overflow: hidden;
}
.v10202_2655 {
  width: 335px;
  height: 1041px;
  background: url("../images/v10202_2655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 20px;
  overflow: hidden;
}
.v10202_2656 {
  width: 335px;
  height: 300px;
  background: url("../images/v10202_2656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2657 {
  width: 62px;
  height: 24px;
  background: url("../images/v10202_2657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 137px;
  overflow: hidden;
}
.v10202_2658 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_2659 {
  width: 335px;
  height: 264px;
  background: url("../images/v10202_2659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v10202_2660 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10202_2661 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_2662 {
  width: 335px;
  height: 597px;
  background: url("../images/v10202_2662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 0px;
  overflow: hidden;
}
.v10202_2853 {
  width: 335px;
  height: 167px;
  background: rgba(255,255,255,1);
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_2855 {
  width: 335px;
  height: 99px;
  background: url("../images/v10202_2855.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v10202_2856 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v10202_2857 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_2859 {
  width: 335px;
  height: 167px;
  background: rgba(255,255,255,1);
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_2861 {
  width: 335px;
  height: 99px;
  background: url("../images/v10202_2861.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v10202_2862 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v10202_2863 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_2865 {
  width: 335px;
  height: 167px;
  background: rgba(255,255,255,1);
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_2867 {
  width: 335px;
  height: 99px;
  background: url("../images/v10202_2867.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v10202_2868 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v10202_2869 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_2678 {
  width: 262px;
  height: 48px;
  background: url("../images/v10202_2678.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 993px;
  left: 37px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v10202_2781 {
  width: 375px;
  height: 988px;
  background: rgba(255,255,255,1);
  padding: 64px 20px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 2053px;
  left: 0px;
  overflow: hidden;
}
.v10202_2782 {
  width: 335px;
  height: 860px;
  background: url("../images/v10202_2782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 20px;
  overflow: hidden;
}
.v10202_2783 {
  width: 335px;
  height: 860px;
  background: url("../images/v10202_2783.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2784 {
  width: 335px;
  height: 464px;
  background: url("../images/v10202_2784.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2785 {
  width: 335px;
  height: 392px;
  background: url("../images/v10202_2785.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3053 {
  width: 335px;
  height: 88px;
  background: url("../images/v10202_3053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3055 {
  width: 263px;
  height: 88px;
  background: url("../images/v10202_3055.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v10202_3056 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10202_3057 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3059 {
  width: 335px;
  height: 112px;
  background: url("../images/v10202_3059.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3061 {
  width: 263px;
  height: 112px;
  background: url("../images/v10202_3061.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v10202_3062 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10202_3063 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3065 {
  width: 335px;
  height: 112px;
  background: url("../images/v10202_3065.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3067 {
  width: 263px;
  height: 112px;
  background: url("../images/v10202_3067.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v10202_3068 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v10202_3069 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_2801 {
  width: 284px;
  height: 48px;
  background: url("../images/v10202_2801.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 416px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v10202_2804 {
  width: 335px;
  height: 348px;
  background: url("../images/v10202_2804.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 0px;
  overflow: hidden;
}
.v10202_2993 {
  width: 375px;
  height: 1157px;
  background: rgba(255,255,255,1);
  padding: 64px 20px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 3041px;
  left: 0px;
  overflow: hidden;
}
.v10202_2994 {
  width: 335px;
  height: 1029px;
  background: url("../images/v10202_2994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 20px;
  overflow: hidden;
}
.v10202_2995 {
  width: 335px;
  height: 111px;
  background: url("../images/v10202_2995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_2996 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10202_2997 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_2998 {
  width: 335px;
  height: 870px;
  background: url("../images/v10202_2998.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 0px;
  overflow: hidden;
}
.v10202_3187 {
  width: 335px;
  height: 258px;
  background: url("../images/v10202_3187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3189 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10202_3190 {
  width: 300px;
  height: 120px;
  background: url("../images/v10202_3190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 17px;
  overflow: hidden;
}
.v10202_3191 {
  width: 56px;
  height: 56px;
  background: url("../images/v10202_3191.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  border-radius: 50%;
}
.v10202_3192 {
  width: 300px;
  height: 48px;
  background: url("../images/v10202_3192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.v10202_3193 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3194 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3196 {
  width: 335px;
  height: 258px;
  background: url("../images/v10202_3196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3198 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10202_3199 {
  width: 300px;
  height: 120px;
  background: url("../images/v10202_3199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 17px;
  overflow: hidden;
}
.v10202_3200 {
  width: 56px;
  height: 56px;
  background: url("../images/v10202_3200.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  border-radius: 50%;
}
.v10202_3201 {
  width: 300px;
  height: 48px;
  background: url("../images/v10202_3201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 0px;
  overflow: hidden;
}
.v10202_3202 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3203 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3205 {
  width: 335px;
  height: 258px;
  background: url("../images/v10202_3205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 611px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3207 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10202_3208 {
  width: 300px;
  height: 120px;
  background: url("../images/v10202_3208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 17px;
  overflow: hidden;
}
.v10202_3209 {
  width: 56px;
  height: 56px;
  background: url("../images/v10202_3209.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  border-radius: 50%;
}
.v10202_3210 {
  width: 300px;
  height: 48px;
  background: url("../images/v10202_3210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.v10202_3211 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3212 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3123 {
  width: 375px;
  height: 590px;
  background: rgba(255,255,255,1);
  padding: 64px 20px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 4197px;
  left: 0px;
  overflow: hidden;
}
.v10202_3124 {
  width: 335px;
  height: 462px;
  background: url("../images/v10202_3124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 20px;
  overflow: hidden;
}
.v10202_3125 {
  width: 335px;
  height: 226px;
  background: rgba(255,255,255,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3126 {
  width: 335px;
  height: 154px;
  background: url("../images/v10202_3126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3127 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10202_3128 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 106px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3129 {
  width: 337px;
  height: 48px;
  background: url("../images/v10202_3129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 1px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v10202_3132 {
  width: 335px;
  height: 188px;
  background: url("../images/v10202_3132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 0px;
  overflow: hidden;
}
.v10202_3316 {
  width: 375px;
  height: 2170px;
  background: rgba(255,255,255,1);
  padding: 64px 20px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 4787px;
  left: 0px;
  overflow: hidden;
}
.v10202_3317 {
  width: 335px;
  height: 2042px;
  background: url("../images/v10202_3317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 20px;
  overflow: hidden;
}
.v10202_3318 {
  width: 335px;
  height: 111px;
  background: url("../images/v10202_3318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3319 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v10202_3320 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 63px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3321 {
  width: 335px;
  height: 1668px;
  background: url("../images/v10202_3321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 0px;
  overflow: hidden;
}
.v10202_3322 {
  width: 335px;
  height: 840px;
  background: url("../images/v10202_3322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3428 {
  width: 335px;
  height: 108px;
  background: url("../images/v10202_3428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3429 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3430 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3431 {
  width: 335px;
  height: 108px;
  background: url("../images/v10202_3431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 0px;
  overflow: hidden;
}
.v10202_3432 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3433 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3434 {
  width: 335px;
  height: 84px;
  background: url("../images/v10202_3434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 0px;
  overflow: hidden;
}
.v10202_3435 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3436 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3437 {
  width: 335px;
  height: 108px;
  background: url("../images/v10202_3437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 0px;
  overflow: hidden;
}
.v10202_3438 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3439 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3440 {
  width: 335px;
  height: 84px;
  background: url("../images/v10202_3440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 0px;
  overflow: hidden;
}
.v10202_3441 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3442 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3443 {
  width: 335px;
  height: 108px;
  background: url("../images/v10202_3443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 0px;
  overflow: hidden;
}
.v10202_3444 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3445 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3332 {
  width: 335px;
  height: 780px;
  background: url("../images/v10202_3332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 888px;
  left: 0px;
  overflow: hidden;
}
.v10202_3333 {
  width: 335px;
  height: 228px;
  background: url("../images/v10202_3333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3334 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3335 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3336 {
  width: 335px;
  height: 228px;
  background: url("../images/v10202_3336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 0px;
  overflow: hidden;
}
.v10202_3337 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3338 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3339 {
  width: 335px;
  height: 228px;
  background: url("../images/v10202_3339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 552px;
  left: 0px;
  overflow: hidden;
}
.v10202_3340 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3341 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3342 {
  width: 335px;
  height: 167px;
  background: url("../images/v10202_3342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1875px;
  left: 0px;
  overflow: hidden;
}
.v10202_3343 {
  width: 335px;
  height: 95px;
  background: url("../images/v10202_3343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3344 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v10202_3345 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3346 {
  width: 125px;
  height: 48px;
  background: url("../images/v10202_3346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3387 {
  width: 375px;
  height: 470px;
  background: rgba(255,255,255,1);
  padding: 64px 20px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 6957px;
  left: 0px;
  overflow: hidden;
}
.v10202_3388 {
  width: 335px;
  height: 342px;
  background: url("../images/v10202_3388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 20px;
  overflow: hidden;
}
.v10202_3389 {
  width: 335px;
  height: 342px;
  background: rgba(255,255,255,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3390 {
  width: 335px;
  height: 154px;
  background: url("../images/v10202_3390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3391 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10202_3392 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 106px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v10202_3393 {
  width: 335px;
  height: 164px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 0px;
  overflow: hidden;
}
.v10202_3394 {
  width: 335px;
  height: 112px;
  background: url("../images/v10202_3394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v10202_3397 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v10202_3683 {
  width: 375px;
  height: 1491px;
  background: rgba(255,255,255,1);
  padding: 48px 20px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 7427px;
  left: 0px;
  overflow: hidden;
}
.v10202_3684 {
  width: 335px;
  height: 1395px;
  background: url("../images/v10202_3684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 20px;
  overflow: hidden;
}
.v10202_3685 {
  width: 335px;
  height: 1103px;
  background: url("../images/v10202_3685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3686 {
  width: 335px;
  height: 819px;
  background: url("../images/v10202_3686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3687 {
  width: 335px;
  height: 36px;
  background: url("../images/v10202_3687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3689 {
  width: 335px;
  height: 221px;
  background: url("../images/v10202_3689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v10202_3690 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3691 {
  width: 335px;
  height: 185px;
  background: url("../images/v10202_3691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v10202_3692 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3693 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3694 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v10202_3695 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3696 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3696.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}
.v10202_3697 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3698 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v10202_3699 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3700 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  overflow: hidden;
}
.v10202_3701 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3702 {
  width: 335px;
  height: 221px;
  background: url("../images/v10202_3702.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 0px;
  overflow: hidden;
}
.v10202_3703 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3704 {
  width: 335px;
  height: 185px;
  background: url("../images/v10202_3704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v10202_3705 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3706 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3707 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v10202_3708 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3709 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}
.v10202_3710 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3711 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v10202_3712 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3713 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  overflow: hidden;
}
.v10202_3714 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3715 {
  width: 335px;
  height: 221px;
  background: url("../images/v10202_3715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 598px;
  left: 0px;
  overflow: hidden;
}
.v10202_3716 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3717 {
  width: 335px;
  height: 185px;
  background: url("../images/v10202_3717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v10202_3718 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3719 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3720 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v10202_3721 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3722 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}
.v10202_3723 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3724 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v10202_3725 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3726 {
  width: 335px;
  height: 37px;
  background: url("../images/v10202_3726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  overflow: hidden;
}
.v10202_3727 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3728 {
  width: 335px;
  height: 236px;
  background: url("../images/v10202_3728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 867px;
  left: 0px;
  overflow: hidden;
}
.v10202_3729 {
  width: 335px;
  height: 78px;
  background: url("../images/v10202_3729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3730 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10202_3731 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3732 {
  width: 335px;
  height: 142px;
  background: rgba(255,255,255,1);
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 0px;
  overflow: hidden;
}
.v10202_3733 {
  width: 335px;
  height: 112px;
  background: url("../images/v10202_3733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v10202_3736 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 124px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v10202_3737 {
  width: 335px;
  height: 244px;
  background: url("../images/v10202_3737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1151px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10202_3739 {
  width: 335px;
  height: 220px;
  background: url("../images/v10202_3739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v10202_3740 {
  width: 168px;
  height: 24px;
  background: url("../images/v10202_3740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v10202_3746 {
  width: 280px;
  height: 148px;
  background: url("../images/v10202_3746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v10202_3747 {
  width: 104px;
  height: 95px;
  background: url("../images/v10202_3747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10202_3748 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3749 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3750 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v10202_3751 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 127px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
